<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: site-head}">
    <title>BetterReads - Add Book</title>
</head>
<body>
<header th:replace="~{layout :: site-header}"></header>
<main class="p-5 align-content-center bg-blur">
    <div class="d-flex justify-content-center ">
    <section id="add-book-form">
        <h2>Add a New Book</h2>
        <form
                method="post"
                th:action="@{/add-book}"
        th:object="${bookData}">
            <div class="form-group col-auto">
                <label for="title">Title</label>
                <input
                        th:field="*{title}"
                        type="text"
                        class="form-control"
                        id="title"
                        name="title" required>
            </div>
            <div class="form-group col-auto">
                <label for="author">Author</label>
                <input
                        th:field="*{authors}"
                        type="text"
                        class="form-control"
                        id="author"
                        name="author" required>
            </div>
            <div class="form-group col-auto">
                <label for="releasedInYear">Year of release</label>
                <textarea
                        th:field="*{publishedDate}"
                        class="form-control"
                        id="releasedInYear"
                        name="releasedInYear" required></textarea>
            </div>
            <div class="form-group col-auto">
                <label for="coverImageUrl">Cover image URL</label>
                <textarea
                        th:field="*{thumbnail}"
                        class="form-control"
                        id="coverImageUrl"
                        name="coverImageUrl"></textarea>
            </div>
            <div class="d-flex justify-content-center mt-4">
            <button type="submit"
                    class="btn btn btn-block font-monospace">Submit</button>
            </div>
        </form>
    </section>
    </div>
</main>
</body>
</html>
