<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{layout :: site-head}">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<header th:replace="~{layout :: site-header}"></header>
<section class="content">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4">
                <a th:href="@{/books/{id}(id=${book.id})}">
                    <img class="wh-100" style="width: 350px; height: 500px; background-color: rgba(0,0,255,0.1);"
                         th:src="@{${book.coverImageUrl}}" alt="Cover Image"/>
                </a>
            </div>
            <div class="col-md-8 font-monospace">
                <div class="card-body">
                    <h4 class="card-title display-4 font-monospace" th:text="${book.title}">Name</h4>
                    <p class="card-text display-6 font-monospace" th:text="${book.author}">Author name</p>
                    <p class="card-text font-monospace">Published Date: <small class=" font-monospace"
                                                                               th:text="${book.releasedYear}"></small>
                    </p>
                    <form th:if="${loginId}" th:action="@{/addUserBook}" method="POST">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <input type="hidden" name="bookId" th:value="${book.id}" />
                        <input type="hidden" name="userId" th:value="${loginId}" />

                        <div class="mb-3">
                            <label for="startDate" class="form-label">Start date</label>
                            <input type="date" class="form-control" id="startDate" name="startDate"
                                   th:value="${userBooks.startedDate}">
                        </div>
                        <div class="mb-3">
                            <label for="completedDate" class="form-label">Completed date</label>
                            <input type="date" class="form-control" id="completedDate" name="completedDate"
                                   th:value="${userBooks.completedDate}">
                        </div>
                        <div class="mb-3">
                            <label for="readingStatus" class="form-label">Status</label>
                            <select id="readingStatus" name="readingStatus" class="form-select"
                                    aria-label="Reading status" th:field="${userBooks.readingStatus}">
                                <option selected value="3">Status</option>
                                <option value="0-wtr">Want to read</option>
                                <option value="1-reading">Currently Reading</option>
                                <option value="2-finished">Finished</option>
                                <option value="3-dnf">Did Not Finish</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="rating" class="form-label">Rating</label>
                            <select id="rating" name="rating" class="form-select" aria-label="Rating"
                                    th:field="${userBooks.rating}">
                                <option selected value="0">Select Rating</option>
                                <option value="1">&#9733;</option>
                                <option value="2">&#9733;&#9733;</option>
                                <option value="3">&#9733;&#9733;&#9733;</option>
                                <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                                <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>


</section>
</body>

</html>