<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head th:replace="~{layout::head}">
    <title>BetterReads</title>
</head>
<body>
<header th:replace="~{layout::header}"></header>
<main class="p-5 font-monospace">
    <section
            id="recent-books">
        <h3>Recently Added Books</h3>
        <ul>
            <li class="d-inline navbar-nav mr-auto col-12 shadow-lg"
                th:each="book : ${books}">
                <a th:href="@{/books/{id}(id=${book.id})}">
                    <img class="wh-100" style="width: 150px; height: 200px; background-color: rgba(0,0,255,0.1);"
                         th:src="@{${book.coverImageUrl}}" alt="Cover Image"/>
                </a>
            </li>
        </ul>
    </section>
    <section id="post-section">
        <div class="mt-5">
            <form action="#"
                  th:method="POST"
                  th:action="@{/post/add}"
                  th:object="${posts}">
                <h3>What are we reading?</h3>
                <ul>
                    <li class="navbar-nav mr-auto">
                        <p class="d-block border border-dark-subtle rounded-3 font-monospace shadow-sm"
                           th:each="post : ${posts}"
                           th:text="${post.postContent}"></p>
                        <a th:href="@{/post/{id}(id=${posts})}">
                        </a>
                    </li>
                </ul>
                <div class="form-group">
                    <h3>Tell us what are you reading now!</h3>
                    <label for="title"></label>
                    <textarea

                            id="title"
                            name="title"
                            class="form-control"
                            rows="1" required
                            placeholder="Place a title here!"></textarea>
                    <label for="postContent"></label>
                    <textarea

                            id="postContent"
                            name="postContent"
                            class="form-control"
                            rows="2" required
                            placeholder="What made impact on you?"></textarea>
                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-blue-100 btn-block w-50 font-monospace" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
</body>

</html>