<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout :: site-head}">
    <meta charset="UTF-8">
    <title>BetterReads</title>
</head>
<body>
    <header th:replace="~{layout :: site-header}">
        <img src="/images/logo-192x192.png" width="64px" height="64px" alt="BetterReadsLogo">

    </header>
    <h1 class="font-monospace">You are not logged in!</h1>
    <h3 class="font-monospace">Please</h3>
    <div class="btn btn-lg col-form-label-sm border-1 font-monospace"
        sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}">Login</a>
    </div>
    <h3 class="font-monospace"> or </h3>
    <div class="btn btn-lg col-form-label-sm border-1 font-monospace"
        sec:authorize="!isAuthenticated()">
        <a th:href="@{/register}">Register</a>
    </div></body>

</html>