<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout :: site-head}">
    <meta charset="UTF-8">
    <title>BetterReads</title>
</head>
<body>
    <header th:replace="~{layout :: site-header}">
        <img src="/images/logo-192x192.png" width="64px" height="64px" alt="BetterReadsLogo">

    </header>
    <section class="p-5 align-content-center"
            sec:authorize="!isAuthenticated()">
    <h1 class="font-monospace text-center">You are not logged in!</h1>
    <h3 class="font-monospace text-center">Please</h3>
    <div class="btn btn-sm col-form-label-sm border-1 font-monospace mr-auto col-12 justify-content-between">
        <a th:href="@{/login}">Login</a>
    </div>
    <h3 class="font-monospace text-center"> or </h3>
    <div class="btn btn-sm col-form-label-sm border-1 font-monospace mr-auto col-12 justify-content-between">
        <a th:href="@{/register}">Register</a>
    </div>
    </section>
</body>

</html>