<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout :: site-head">
    <title>Register</title>
</head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div bg-body fa-image">
    <header>
        <ul class="navbar-nav mr-auto col-12 justify-content-between">
        <li class="nav-item">
            <form th:method="get">
                <label class="text-white" for="lang" th:text="#{nav_bar_language}">Language</label>
                <select
                        id="lang"
                        name="lang"
                        onchange="this.form.submit()">
                    <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                    <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                </select>
            </form>
        </li>
        </ul>
    </header>
    <h1 class="register font-monospace focus-ring">Register</h1>
    <div class="d-flex justify-content-center ">
        <div class="row g-3 align-items-center">
            <form
                    th:action="@{/register}"
                    th:method="POST"
                    th:object="${registerData}">
                <div>
                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label font-monospace">Username</label>
                    </div>
                    <div class="col-auto">
                        <input
                                th:field="*{username}"
                                name="username"
                                required minlength="3" maxlength="20"
                                type="text"
                                id="inputUsername"
                                class="form-control"
                                aria-describedby="usernameHelpInline">
                        <small id="usernameError"
                               class="invalid-feedback bg-white-subtle text-bg-light rounded font-monospace">Username
                            length must be more than 3 characters</small>

                        <small id="usernameUniqueError"
                               class="invalid-feedback bg-white-subtle text-bg-light rounded font-monospace">Username is
                            already occupied</small>

                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputEmail" class="col-form-label font-monospace">Email</label>
                    </div>
                    <div class="col-auto">
                        <input
                                th:field="*{email}"
                                name="email"
                                required
                                type="email"
                                id="inputEmail"
                                class="form-control"
                                aria-describedby="emailHelpInline">
                        <small id="emailError"
                               class="invalid-feedback is-invalid form-text bg-danger rounded">Must be valid
                            email</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputFirstName" class="col-form-label font-monospace">First Name</label>
                    </div>
                    <div class="col-auto">
                        <input
                                th:field="*{firstName}"
                                name="username"

                                required minlength="3" maxlength="20"
                                type="text"
                                id="inputFirstName"
                                class="form-control"
                                aria-describedby="usernameHelpInline">
                        <small id="firstNameError"
                               class="invalid-feedback bg-white-subtle text-bg-light rounded font-monospace">Username
                            length must be more than 3 characters</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputLastName" class="col-form-label font-monospace">Last Name</label>
                    </div>
                    <div class="col-auto">
                        <input
                                th:field="*{lastName}"
                                th:errorclass="is-invalid"
                                name="username"
                                required minlength="3" maxlength="20"
                                type="text"
                                id="inputLastName"
                                class="form-control"
                                aria-describedby="usernameHelpInline">
                        <small id="lastNameError"
                               class="invalid-feedback bg-white-subtle text-bg-light rounded font-monospace">Username
                            length must be more than 3 characters</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label font-monospace">Password</label>
                    </div>
                    <div class="col-auto">
                        <input
                                th:field="*{password}"
                                th:errorclass="is-invalid"
                                name="password"
                                required minlength="3" maxlength="20"
                                type="password"
                                id="inputPassword"
                                class="form-control"
                                aria-describedby="passwordHelpInline">
                        <small id="passwordError"
                               class="invalid-feedback  form-text bg-danger rounded">
                            Password length must be between 3 and 20 characters and passwords should match.
                        </small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputConfirmPassword" class="col-form-label font-monospace">Confirm Password</label>
                    </div>
                    <div class="col-auto">
                        <input name="confirmPassword"
                               required minlength="3" maxlength="20"
                               type="password"
                               id="inputConfirmPassword"
                               class="form-control"
                               aria-describedby="confirmPasswordHelpInline">
                        <small id="confirmPasswordError"
                               class="invalid-feedback is-invalid form-text bg-danger rounded">
                        </small>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn btn-block w-50 font-monospace" type="submit">Register</button>
                </div>
                <div class="d-flex justify-content-center mt-2 font-monospace">
                    or
                    <div class="d-flex justify-content-center mt-2">
                        <a th:href="@{/login}"
                           sec:authorize="!isAuthenticated()"
                           class="btn btn-blue-100 btn-block w-100 font-monospace">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>