<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: site-head}">
    <title class="font-monospace">Search</title>
</head>
<body>
<header th:fragment="~{layout :: site-header}"></header>
<h1 class="font-monospace">Search Books</h1>
<h1>Search Results</h1>
<form th:action="/search"
      method="get"
>
    <label>
        <input type="text" name="query" required>
    </label>
    <button type="submit">Search</button>
</form>

<div>
    <h2>Results for ></h2>
    <div>
        <ul>
            <li th:each="book : ${results}">
                <div>
                    <h3 th:text="${.title}"></h3>
                    <p th:text="${book.description}"></p>
                    <img th:src="${book.coverImageUrl}" alt="Book cover">
                    <p>Genre: <span th:text="${book.genre}"></span></p>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>